.about-us {
  // .about-us__container

  &__container {
    margin-top: em(150);
  }

  // .about-us__title

  &__title {
  }

  // .about-us__wrapper

  &__wrapper {
    display: flex;
  }

  // .about-us__inner

  &__inner {
    align-self: center;
    &:first-child {
      margin-right: em(108);
    }
  }

  // .about-us__slider

  &__slider {
    position: relative;
    width: em(560);
  }

  // .about-us__swiper

  &__swiper {
  }

  // .about-us__slide

  &__slide {
    & img {
      border-radius: em(8);
    }
  }

  // .about-us__nav

  &__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: em(160);
    height: em(74);
    border-top-left-radius: em(8);
    box-shadow: 4px 11px 28px rgba(235, 235, 235, 0.31);
    background: $whiteColor;
    bottom: 0;
    right: 0;
    z-index: 1000;
    &--prev,
    &--next {
      width: em(80);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 38px;
      height: 38px;
      border: 1px solid $orangeColor;
      opacity: 0.5;
      border-radius: 50%;
      transition: opacity 0.3s ease 0s;
      &:hover {
        opacity: 1;
      }
    }
    &--prev {
      transform: rotate(180deg);
    }
  }

  // .about-us__subtitle

  &__subtitle {
  }

  // .about-us__text

  &__text {
    margin-top: em(32);
    max-width: rem(576);
    font-size: em(18);
    line-height: math.div(28, 18);
  }

  // .about-us__button

  &__button {
    padding: 13.5px 33px;
    &--wrapper {
      margin-top: em(57);
    }
  }
}
