.offer {
  margin-bottom: em(10);
  // .offer__container

  &__container {
    display: flex;
    margin-top: em(120);
  }

  // .offer__inner

  &__inner {
    &:not(:last-child) {
      margin-right: em(40);
    }
  }

  // .offer__title

  &__title {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: em(64);
    line-height: math.div(80, 64);
    color: $titleColor;
  }

  // .offer__text

  &__text {
    margin-top: em(32);
    max-width: rem(576);
    font-size: em(18);
    line-height: math.div(28, 18);
  }

  // .offer__box

  &__box {
    margin-top: em(82);
  }

  // .offer__pics

  &__pics {
    height: 420px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 18px 20px;
    grid-template-areas:
      'pic1 pic3'
      'pic2 pic3';

    & img {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: em(6);
    }
  }
  &__pic1 {
    width: 225px;
    height: 150px;
    grid-area: pic1;
  }
  &__pic2 {
    grid-area: pic2;
    width: 225px;
    height: 221px;
    margin-top: em(-45);
  }
  &__pic3 {
    grid-area: pic3;
    width: 200px;
    height: 350px;
    margin-top: em(90);
  }
}
