.testimonials {
  // .testimonials__container

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: em(160);
  }

  // .testimonials__inner

  &__inner {
    // .testimonials__inner--img
    &--img {
      position: relative;
      border-radius: 8px;
      background: linear-gradient(180deg, rgba(255, 116, 36, 0) 15%, rgba(255, 116, 36, 0.29) 100%);
      &::before {
        position: absolute;
        top: 74px;
        left: -35px;
        content: url('../../img/comas.png');
        display: block;
        width: 104px;
        height: 104px;
        border-radius: 8px;
        background: rgba(255, 116, 36, 0.1);
        box-shadow: 0px 7px 20px rgba(106, 39, 0, 0.19);
      }
    }
  }

  // .testimonials__title

  &__title {
  }

  // .testimonials__text

  &__text {
    margin-top: em(60);
    max-width: 500px;
    font-size: em(24);
    line-height: em(36);
  }

  // .testimonials__name

  &__name {
    margin-top: em(40);
    font-weight: 600;
    font-size: em(22);
    line-height: em(33);
  }

  // .testimonials__post

  &__post {
    font-size: em(18);
    line-height: em(27);
    opacity: 0.85;
  }

  // .testimonials__img

  &__img {
  }
}
