// Заголовки, общие БЄМ блоки и проче...
.button {
  color: $whiteColor;
  background-color: $orangeColor;
  padding: 18px 32px;
  font-weight: 500;
  border-radius: em(8);
  transition: color 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      color: $mainColor;
      cursor: pointer;
    }
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
// .visually-hidden {
//   position: absolute;
//   visibility: hidden;
//   pointer-events: none;
//   clip: rect(0 0 0 0);
//   clip-path: inset(100%);
//   width: 1px;
//   height: 1px;
//   margin: -1px;
//   padding: 0;
//   border: 0;
//   text-indent: -9999px;
//   white-space: nowrap;
//   overflow: hidden;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }
