// Заголовки, общие БЄМ блоки и проче...
.button {
  color: $whiteColor;
  background-color: $orangeColor;
  padding: 18px 32px;
  font-weight: 500;
  border-radius: em(8);
  transition: color 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      color: $mainColor;
      cursor: pointer;
    }
  }
}
